<div class="pt-4">
    <div class="card">
        <div class="card-body">
            <h1>About</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse eos sequi culpa architecto! Veniam, ipsam ipsum unde tenetur voluptatem natus corrupti quia eius sunt eaque quam nam minus quis temporibus id quas. In numquam reprehenderit perferendis perspiciatis, ipsa consectetur cumque quos, odit sed voluptate sequi dicta eligendi fuga libero ea!</p>
        </div>
    </div>
</div>