<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Express & Mongo DB</h1>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi, rerum!</p>
    <hr class="my-4">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt, qui praesentium? Distinctio, eius! Alias, aspernatur eos ipsa saepe officiis porro, fugit blanditiis corrupti ab dolore facere numquam magnam similique vel, modi explicabo distinctio. Quisquam atque nulla, quia nemo, reprehenderit voluptatum temporibus nisi voluptas similique, nobis debitis dolor. Earum, error a.</p>
    <a href="http://easyweb.com" class="btn btn-primary btn-lg">Easy Web</a>
</div>